<div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
      <li data-target="#main-carousel" data-slide-to="3"></li>
    </ul>

  
    
    <!-- Main Slider -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="../../../../assets/images/banners/babyshower.png">
            <div class="carousel-caption" style="bottom:33%;"><a class="btn btn-primary banner-buttons" [routerLink] = "['/cakes']" [queryParams]="{categoryId: 'defcfff96c1e65ae1b5c90a'}" style="border-radius:4px; background:#344c1c; border:none; padding:10px 35px;">SHOP NOW&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a></div>
          </div>
      
      <div class="carousel-item">
        <img src="../../../../assets/images/banners/valentine'sday.png">
        <div class="carousel-caption" style="bottom:30%;"><a class="btn btn-primary banner-buttons" [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5defcfd996c1e6482db5c909'}" style="border-radius:4px; background:#157798; border:none; padding:10px 35px;">SHOP NOW&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a></div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/banners/wedding.png">
        <div class="carousel-caption" style="bottom:30%;"><a class="btn btn-primary banner-buttons" [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5dda69b02e93000d0ef06cf8'}" style="border-radius:4px; background:#1c0f2b; border:none; padding:10px 35px;">SHOP NOW&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a></div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/banners/birthday.png">
        <div class="carousel-caption" style="bottom:30%;"><a class="btn btn-primary banner-buttons" [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5dd5a72ac066c830b9b57612'}" style="border-radius:4px; background:#603321; border:none; padding:10px 35px;">SHOP NOW&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a></div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#main-carousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#main-carousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>