<div class="container" style="padding-top:50px; padding-bottom:50px">
        <div class="refund-policy-content">
                <h2>Refund, Return and Delivery Policy</h2>
                <br/><br/>
                <h3>Cancellation & Refunds</h3>
                <br/>
                <p>Our delivery partners do their best to make all deliveries on the day you request. However, very occasionally events outside of our control occur and deliveries are delayed. Therefore we recommend allowing an extra day for special occasions.</p>
                <ul>
                    <li>There will be no refund on cakes cancelled less than 3 working days prior to delivery.</li>
                    <li>Complaints are very rare and so we take them very seriously. Some complaints may require further investigation and an immediate refund may not always be possible.
                            Photographic evidence may be required prior to using your cake.</li>
                    <li>The maximum refund we offer is the value of the cake and delivery. Further compensation is not available.</li>
                    
                </ul>
                <br/>
                <p>                Cakes, or part of cakes, must be returned within 17 hours of collection to ensure we are able to fairly assess the nature of the complaint. The cake must be in a suitable state to enable further investigation, assessment and testing.
                    </p>
               
                <br/>
                <h3>Returns</h3>
                <p>Due to the perishable nature of our products, we do not accept returns.</p>
                <br/>
                
                
                
              <br/>
                
                
                <h3>Delivery Policy</h3>   
                <br/>
                <ul>
                    <li>Deliveries are made by our representative or a third party logistics company, on your chosen delivery date. You will be emailed directly from them with regard to time of deliveries.</li>
                    <li>All cakes are delivered boxed.</li>
                    <li>Weekend deliveries are subject to approval.</li>
                    <li>We can deliver to neighbors if you are out. Please specify your neighbors complete address and communication details.</li>
                    <li>If our delivery partner has attempted a delivery and there was no-one available to sign for the order and no delivery instructions were issued, we would make arrangements for the delivery to be made the following working day, and no refund can be offered. The delivery next day will be chargeable.</li>
                    <li>If you have opted for a Pre-12:30 delivery service and the delivery has not been attempted by then, we will refund the ‘premium’ you have paid.</li>
                    <li>Shipping costs are based on the weight of your order and the delivery method. To find out how much your order will cost, simple add the items you would like to purchase to your cart, and proceed to the checkout page. Once at the checkout screen, shipping charges will be displayed.</li>
                    <li>Additional shipping charges may apply to remote areas or for large or heavy items. You will be advised of any charges on the checkout page.</li>
                </ul>

                   
                
                
                
                
                
        </div>
    </div>