<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="about-us footer-section">
            <h4>Social links</h4>
            <br/>
            <ul class="social-icons-list">
              <li style="margin-left:0px;">
                <a href="https://twitter.com/koolcakesbakery" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
              <li>
                  <a href="https://www.linkedin.com/company/8453274" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                  <a href="https://www.instagram.com/koolcakesbakery/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              </li>
              <li>
                  <a href="https://www.facebook.com/koolcakesbakery/" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                </li>
            </ul>

            
              
          </div>
          
        </div>
        <div class="col-md-3">
          <div class="more-links footer-section">
              <h4>Help</h4>
              <br/>
              <ul>
                <li>
                  <a routerLink="/about-us">About Us</a>
                </li>
                <li>
                  <a routerLink="/privacy">Privacy Policy</a>
                </li>
                <li>
                  <a routerLink="/faq">FAQ</a>
                </li>
                <li>
                  <a routerLink="/refund">Refund, Return & Delivery Policy</a>
                </li>
                <li>
                  <a routerLink="/gdprs">GDPRS</a>
                </li>
                <li>
                  <a routerLink="/sales">Sales Policy</a>
                </li>
                <li>
                  <a routerLink="/disclaimer">Disclaimer</a>
                </li>
              </ul>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="useful-links footer-section">
            <h4>Useful Links</h4>
            <br/>
            <ul>
              <li><a [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5de63461c3650bf584cf5f95'}">Special Occassion Cakes</a></li>
              <li><a [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5dd7cbbac066c8f891b57671'}">Pet Cakes</a></li>
              <li><a [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5dd7cc04c066c8a858b57673'}">Fresh Cream Cakes</a></li>
              <li><a [routerLink] = "['/cakes']" [queryParams]="{categoryId: '5dd7cc0fc066c81a93b57674'}">Butter Cream Cakes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contact-us footer-section">
            <h4>Support</h4>
            <br/>
            <ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;020-70525152</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;support@koolcakes.uk</li>
              <li><i class="fa fa-address-book"></i>&nbsp;&nbsp;<a routerLink="/contact">Contact Us</a></li>
            </ul>
            <!-- Start of WebFreeCounter Code -->
          <br><br><br>
          <p>Site Visitor</p>
          <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=gmexoaxx&nd=6&style=7" border="0" alt="visitor counter"></a>
          <!-- End of WebFreeCounter Code -->
          <br><br>
          </div>
        </div>
      </div>
    </div>
  </footer>