footer{
    width: 100%;
    display: inline-block;
    padding-top:50px;
    padding-bottom:50px;
    background:#222;
}
footer h4{
    font-family:'Bree Serif';
    color:#FFF;
}
footer ul{
    list-style: none;
    margin:0;
    padding:0;
}
footer ul li a{
    text-decoration:none;
    color:#aaa;
}
footer p, footer ul li{
    font-family: 'Muli';
    padding:5px;
    color:#aaa;
}
/*Headline*/
.headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    font-size: 20px;
    position: relative;  
}
h4:after {
    content:' ';
    position: absolute;
    display:block;
    width: 40px;
  	margin: 2% 0%;
    border:2px solid #dc3a43;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);     
}
footer .social-icons-list li{
    float:left;
    padding:10px;
    font-size:20px;
    margin-left:10px;
    width:45px;
    color:#FFF;
    border-radius:50%;
    text-align:center;
}

/**CSS For Mobile**/
@media only screen and (max-width: 600px) {
    .footer-section {
        margin-top:30px;
        text-align: center;
    }
    h4 {
        position:relative;
        text-align: center;
        font-family: 'Bree Serif';
        margin-bottom:10px;
    }
    h4:after {
        content:'';
        position:absolute;
        left:0; right:0;
        top:100%;
        margin:20px auto;
        width:10%;
        height:5px;
        background:#dc3a43;        
    }
    .social-icons-list {
        display:flex;
        justify-content: center;
    }
}