<div class="container" style="padding-top:50px; padding-bottom:50px">
    <div class="disclaimer-content">
            <h2>Disclaimer in relation to proprietary brand names</h2>
            <br>
            <p>
            Our website contains brand designs and names owned and operated by third parties. 
             These same are provided for your information and convenience only in respect of their use in
               our Cake designs and are not an endorsement by Kool Cakes of the content .
                Kool Cakes has no control over the contents of any linked brand and their
                 website and is not responsible for their content or availability.</p>
                 <p>Kool Cakes therefore makes no warranties or representations, express or implied about such linked brands, websites, the third parties they are owned and operated by, the information contained on them or the suitability or quality of any of their products or services.
                </p>
<p>Subject to paragraph below, if you decide to access any third party websites and make use of the information contained on them, and/or enter into any contract for the supply of goods or services from such third party, and/or make any donations to such third party, you do so entirely at your own risk. Kool Cakes accepts no liability for any damage or loss, however caused, in connection with the use of or reliance on any information, material, products or services contained on or accessed through any such linked website.
This disclaimer also reasserts that the firms, whose brand-vision and grandeur is reimagined with our cakes, are the sole owners of their brand and associated assets. Nothing on this website affects their statutory or other legal rights that exists with them as the owner / manufacturer. </p>
            
            
            
    </div>
</div>