<div class="container" style="padding-top:50px; padding-bottom:50px">
    <div class="about-us-content">
            <h2>About Us</h2>
            <br/><br/>
            <p><b>Kool Cakes Bakery</b>, formerly known as Paul’s Bakers, started in 1994 under the tutelage of Kulwinder Paul Kumar & his wife Salinder Kaur. Paul's skill and proficiency in the art of modelling gum paste flowers and decorations are exemplary. His able leadership has made KOOL CAKES the brand it is today.</p>

 
             <p>Be it a cake for a wedding, birthday, or any special occasion. Be it Fresh cream, butter cream , or icing !!</p> 
            
             <p>Drop by our North West London shops located in Kingsbury NW9 or North Harrow HA2, or our West London outlet located in Heston TW5 where every assistance will be provided to you in making your choice of cake. You will have the opportunity to browse through our catalogues and take the advice of our trained staff to further assist with your selection.</p>
            
             <p>The website is made keeping in mind the busy life we live. Here, You can not only choose from an extensive inventory, you get to add the touch of personalisation, conveying the very sentiments you have with your loved ones.</p>

            
           <p>We don't intend to just cater to your sweet tooth, We intend to serve memories !!</p>
            
            <p><b>Lets Browse Through !!!!</b></p>
            
          
            
            
    </div>
</div>