<div class="container" style="padding-top:100px; padding-bottom:100px;">
        <div class="contact-content">
          <h2>Contact Us</h2>
          <br>
          <div class="address">
            <h3 class="shop">Kool Cakes Heston</h3>
            <br>
            <p>Address: 9 Central Parade, New Heston Road, Heston TW5 0LQ, United Kingdom</p>
            <br>
            <!-- <p><b>Hours</b></p>
            <p>Open ⋅ Closes 6PM</p> -->
            <p>Phone: +44 20 8577 6393</p>
          </div>
          <br/>
          <div class="address">
              <h3 class="shop">
                  Kool Cakes Kingsbury</h3>
              <br>
              <p>Address: 2 Honeypot Ln, Kingsbury Circle, London NW9 9QD, United Kingdom</p>
              <br>
              <!-- <p><b>Hours:</b></p>
              <p>Open ⋅ Closes 6PM</p> -->
              <p>Phone: +44 20 8204 3949</p>
            </div>
            <br/>
          <div class="address">
              <h3 class="shop">Kool Cakes Harrow </h3>
              <br>
              <p>Address: 
                  547 Pinner Rd, Harrow HA2 6EQ, UK</p>
              <br>
              
              <p>Phone: +44 20 8427 9990</p>
            </div>
            <br>
            <div class="address">
              <h3 class="shop">Kool Cakes Eastcote </h3>
              <br>
              <p>Address: 
                  263 Field End Road, Eastcote, HA4 9NJ</p>
              <br>
              
              <p>Phone: +44 20 8966 9640</p>
            </div>
            <br><hr>
            <div class="note">
              <p>*Kool Cakes, Kool Cakes Logo, Kool Cakes Bakeries, Koolcakes.co.uk , Koolcakes.uk & Koolcakes.in are owned by Kool Cakes Bakery Ltd having its registered office at '2 Honeypot Lane, Kingsbury, London, NW9 9QD'
                </p>
                <p>(Company Number - 06597246)</p>
            
            </div>
    
            
        </div>
    </div>
    