<div class="container" style="padding-top:50px; padding-bottom:50px">
        <div class="refund-policy-content">
            <h2>Sales Policy</h2>
            <br>
            <h3>Cakes
                    </h3>
            <br>
            <p>Sponge, Gluten Free and chocolate cakes do not have nuts as an ingredient but their may be nut traces present.
            </p>
            <p>Our cakes are made with vegetable fats and contain dairy products.
            </p>
            <br>
            <h3>Cake Storage and Shelf Life
                                </h3>
            <br>
            <ul>
                <li>All cakes should be stored in a cool dark place on a flat, sturdy surface.
                </li>
                <li>Never put cakes in the fridge other than fresh dairy cream cakes.
                </li>
                <li>Sponge, Chocolate and Gluten Free cake will keep perfectly fresh for five days after delivery.
                </li>
            </ul>
            <br>
            <h3>Edible Images and Sugar Models
                                    </h3>
            <br>
            <ul>
                <li>If you wish to supply a digital picture, we only accept jpg / other supported image formats. The quality of print is dependent on the quality of the photo you provided.
                </li>
            </ul>
            <br>
            <h3>Orders
                                        </h3>
            <br>
            <ul>
                <li>We require 3 working days’ notice on all cakes ordered.
                </li>
                <li>Please check your order thoroughly before payment.
                </li>
            </ul>
            <br>
            <h3>Payment</h3>
            <br>
            <ul>
                <li>We use SSL 3D secure payments via our payment gateway
                </li>
            </ul>
            <br>
            <h3>Serving portions are estimates only.
                                            </h3>
            <br>
            <p>We do not offer exact dimensions as each cake is hand crafted in freehand. Our cakes look big and carry a great impact. We have never had a customer complaint with regard to cake portions.
            </p>
            <p>Our cakes do not have nuts as an ingredient (unless included as an extra) but there may be nut traces present.
            </p>
            <p>Our cakes are made with vegetable fat and contain no animal fat. Please specify your food allergies Prior to Placing your order.
            </p>
    
        </div>
    </div>