<div class="container" style="padding-top:50px; padding-bottom:50px">
        <div class="privacy-policy-content">
                <h2>Privacy Policy</h2>
                <br/>
                <h3>Overview</h3>
                <p>At KOOLCAKES we take your privacy and data security seriously. The following describes how we collect and process your personal data.</p>
                <br/>
                <h3>Data We Collect</h3>
                <p>We try to store only enough personal information to fulfil your order and to monitor the performance and health of our website.</p>
                <p>This includes:</p>
                <ul>
                    <li>Your Name</li>
                    <li>Your Email address so we can send confirmation emails</li>
                    <li>A contact telephone number if we need to contact you about your order</li>
                    <li>Delivery details of the order (recipient’s name, address, delivery instructions)</li>
                    <li>Your order history and details of the items purchased</li>
                    <li>Any personalised messages or customisation related to your order</li>
                    <li>A hashed representation of your password (should you choose to create an account)</li>
                    <li> Any correspondence or communication with us.</li>
                </ul>
                <br/>
                <h3>Cookies</h3>
                <p>Our website uses cookies to collect information. Cookies are small data files stored on your device in order to ‘remember’ you. We use cookies primarily to hold a reference to your ‘shopping basket’ as you move around the site, but also to enable you to log in to your account. Our website relies on the use of cookies in order to facilitate a purchase.
                Google Analytics (more information below) also uses cookies for the delivery of its service. Details on their use of cookies is available here:https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
                </p>
                <br/>
                <h3>Google Analytics</h3>
                <p>We use a third party service, Google Analytics, to log information and details of visitor behaviour. We do this to try and improve the website for our visitors and monitor the performance of our site. You can view Google Analytics’ privacy policy here: https://www.google.com/analytics/terms/gb.html.
                You can revoke your consent for collection of this data by clicking here. If you clear your cookies you may need to re-enable this opt-out.
                For further privacy protection, we also enable IP anonymisation. For more information about this visit the following link:https://support.google.com/analytics/answer/2763052?hl=en.
                </p>
                <h3>Google Adwords</h3>
                <p>We use a third party service, Google Adwords, to log information and details of the performance of our Google search and shopping advertisements. 
                You can view Google Adwords’ privacy policy here: https://policies.google.com/technologies/ads?hl=en-GB. 
                </p>
                <br/>
                <h3>Facebook Pixel</h3>
                <p>We use a third party service, Facebook Pixel, to help us measure the effectiveness of our Facebook advertising. Facebook’s privacy policy is available here:https://www.facebook.com/about/privacy/.
                If you wish to revoke your consent for this tracking you can visit the following link: https://www.facebook.com/ads/settings.</p>
                <br/>
                <h3>Email Marketing</h3>
                <p>We use a third party service, to deliver our email newsletter. It collects statistics around opening of email and link clicks to enable us to monitor and improve our email marketing. The privacy policy is available at their respective website.
                You can opt out of our email marketing at any time using the unsubscribe link at the bottom of all messages or by getting in contact with us.</p>
                <br/>
                <h3>Service Providers</h3>
                <p>We share only essential items of your personal data with carefully selected service providers in order to process your order. Order particulars will dictate which of these we will send your details to or not.
                <h3>Access to your personal information</h3>
                <p>You are entitled to view, amend or delete the personal information that we hold. Please contact us in order to make a request.</p>
                <br/>
                
                <h3>GDPR</h3>
                <p>All data collected by us is stored and maintained under the conditions of our GDPR policy here.
                Privacy Policy
                All data collected by us is stored and maintained under the conditions of our GDPR policy here.</p>
                
                
        </div>
    </div>