<div class="" style="padding-top:20px; padding-bottom:50px">
    <div class="offers-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-12">
                    <div class="offer-image" style="margin: 0 auto; text-align:center">
                        <img src="./../../../../assets/images/offer-image.jpg" class="img-fluid" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
        
        

    </div>
</div>