<div class="container" style="padding-top:50px; padding-bottom:50px">
        <div class="faq-content">
           <h2>FAQ’S</h2>
           <br/>
           <div class="question-div">
              <p class="question">
                 Can I order in advance?
              </p>
              <p class="answer">
                 Yes, we LOVE advance orders. Infact the earlier the better.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Do you take same-day orders?
              </p>
              <p class="answer">
                 Some cakes may be available for same day pick-up subject to availability.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Can I order online?
              </p>
              <p class="answer">
                 Yes you can! Online orders must be placed at least 24 hours prior to pick-up, depending upon design complexity. Click here to start ordering online now.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Do you have cakes on the go available for walk-in customers?
              </p>
              <p class="answer">
                 Yes! We might have some cakes available for walk-in customers.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 If I place an order for a cake to be delivered at a particular time, do you guarantee meeting the same?
              </p>
              <p class="answer">
                 Yes, we try our level best to meet your time requisites. There can be a deviation only in situation of factors that are beyond our control. We will update you in case such a scenario arise.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Can we send messages accompanied by cake?
              </p>
              <p class="answer">
                 Obviously you can. We  provide facility of sending personalized messages together with the cake. While placing an order for cake, we offer you an option of typing your message in a message box.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 I want to cancel my order. How can I do it and will I get a refund on canceled order?
              </p>
              <p class="answer">
                 Yes, you can cancel the order, but for refunds, please refer to our cancellation policy. We will revert to you as soon as possible.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 What if I am not contented with the order?
              </p>
              <p class="answer">
                 If you are not contented regarding the quality or quantity of cake, or if your cake got spoiled during transit, please drop us an email within 24 hours of delivery accompanied by a photo of the cake. Our support crew will revert within 24 hours and try to rectify the problem.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Will the cake being delivered to the receiver would be exactly similar in appearances as seen in cake image on your product page?
              </p>
              <p class="answer">
                 We endeavor hard to deliver cake accurately as what you have selected on our product page, but there can be slight differences in terms of icing or design on the cake. Every cake is a skillful recreation and there can be slight differences between the photograph and the cake that has been delivered. the outcome might not always be a 100% duplication of what you see online or visualize.That being said, we promise you to deliver high quality and mouth-watering cake in the quantity you want.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Can I customize or design my own cake?
              </p>
              <p class="answer">
                 Yes of course, simply send us your sample pictures or drawings, cake flavor and required weight and we will revert with possibility of doing it and a quotation. Or you could call our expert for some suggestions.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Do you do custom cakes?
              </p>
              <p class="answer">
                 Yes we do, in fact custom cakes are our specialty. Birthdays, anniversaries, engagements, weddings, graduation, baby shower, whatever the occasion or celebration, if you desire a customized or themed cake then Kool Cakes is at your service.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                  What are the delivery Conditions for Hotel?
              </p>
              <p class="answer">
                 Kindly arrange  following detailslike  Full Name and Address of the Hotel , Telephone Number , Hotel Room Number and last but not the least the recipients name to allow for
                 Better coordination.
              </p>
           </div>
           <div class="question-div">
              <p class="question">
                 Do you Deliver Midnight Order?
              </p>
              <p class="answer">
                 As of now, we don’t have the provision for the same but we would love to work out something in future.
              </p>
           </div>
           .
           .
            
            
        </div>
     </div>