<div class="container" style="padding-top:50px; padding-bottom:50px">
    <div class="blog-content">
        <h2>KOOL CAKES BAKERY AT CAKES INTERNATIONAL 2019</h2>
        <br><br>
        <h4>Cakes international 2019 held in Birmingham</h4>
        <br><br>
        <p>It was yet another beautiful day, and what better way to start off with preparations for the big event that was lined up.
        </p>
        <div class="">
            <img src="../../../../assets//images/blog/1.jpeg" class="img-fluid text-wrap">
            <p>            It was Cake International- one of the world’s greatest cake shows, that was back with yet another set of experiences as well as skills. It had astonishing cake displays and workshops on new technologies and different new ways to make the customers more satisfied with the cakes.
            </p>

        </div>
    
        


        <p>What better way to grow when all our competitors are under one roof showcasing their best and learning different and improved ways of cake making to please the customers. It was going to be a very enlightening experience for all of us at Kool cakes bakery.
        </p>
        <br clear="all"/>

        <p>The event was a 3 day showcase with different demos and workshops. Despite being one of the market leaders in the cake industry and service sector our owner Mr Paul is so enthusiastic in learning every new possible way of making customers more satisfied. Hence he made sure the team attended the event and learnt from their competitors and other cake makers from different parts of the world as well.
        </p>

        <p>It was so inspiring for the Kool cakes’ team to see Mr Paul showcasing his art of cake making and attending the demos and workshops.
        </p>


        <div>
            <img src="../../../../assets/images/blog/2.jpeg" class="img-fluid text-wrap" />
        </div>

        <br clear="all"/>

       
        <p>The team was even more motivated and inspired in making the best possible cakes for the customers. We got to witness some of the masterpieces and masters our selves.
        </p>
        

        

        <div>
            <img src="../../../../assets/images/blog/3.jpeg" class="img-fluid text-wrap"/>
        </div>
       
        

       

        <p>We had many great moments of learning new technologies and various ways of this art. After attending the event, the Koolcakes team is determined in making not just the best cakes, but also an experience that would make their customers’ event just as special.
        </p>

        <br clear="all"/>
        

    </div>
</div>